/* css styles */
.hero-title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.hero-title h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: calc(2rem + 1vw);
}

.hero-title p {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#first-headline {
    color: #40E0D0;
}

.hero-buttons p a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 10rem;
}

.content {
    text-align: center;
}